/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

#mc_embed_signup .mc-field-group {
  padding-bottom: 0 !important;
  width: 100% !important;
  min-height: 30px !important;

  @include media-breakpoint-up(lg) {
    margin-bottom: 50px !important;
  }
}

#mc_embed_signup input {
  border-radius: 0 !important;
  text-indent: 0 !important;
  padding: 0 !important;
  padding-bottom: 0 !important;
}

#mce-FNAME,
#mce-LNAME,
#mce-EMAIL {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid !important;
  width: 99% !important;
  font-style: italic;
  font-size: $f28;
  margin-bottom: 10px !important;
}

input::placeholder {
  color: black;
  opacity: 1;
}

#mc-embedded-subscribe {
  border: none !important;
  border-bottom: 2px solid !important;
  font-size: $f36 !important;
  padding: 0 !important;
  background-color: transparent !important;
  transition: border-bottom 0.3s ease-in-out !important;
  color: black !important;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    border-bottom: 2px solid transparent !important;
  }
}

span.arrow {
  font-size: $f36;
  margin-right: 20px;
}

/* stylelint-disable */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
/*  stylelint-enable */
