#menu {
  z-index: 100;
  position: fixed;
  cursor: pointer;
  right: 15px;
  top: 20px;

  @include media-breakpoint-up(lg) {
    right: 20px;
    top: 30px;
  }

  .ico-menu {
    width: 40px;
    height: 25px;

    g {
      box-sizing: unset;
    }

    @include media-breakpoint-up(lg) {
      width: 40px;
    }
  }
}

.menu {
  @include make-col-ready;

  border-bottom: $spacer;
  padding: 20px 15px;

  @include media-breakpoint-up(lg) {
    margin-right: 45px;
    margin-left: 45px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: $spacer;
  }

  @include media-breakpoint-up(xxl) {
    margin-right: 45px;
    margin-left: 45px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: $spacer;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;

  @include media-breakpoint-up(lg) {
    height: 75px;
  }

  a {
    @extend .nav-link;

    padding: 0;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
      text-decoration: none !important;
    }
  }
}

.overlay .nav-primary {
  text-align: left;
  font-size: 30px;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  height: auto;
  margin-top: 15px;

  @include media-breakpoint-up(md) {
    // font-size: 6vw;
    // line-height: 1.1;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 0;
    // letter-spacing: 3px;
    // height: 70%;
  }

  @media (min-width: 1500px) {
    font-size: $f28; //70px
  }
}

/* Overlay closing cross */
.overlay .overlay-close {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  overflow: hidden;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1032;

  @include media-breakpoint-up(lg) {
    right: 10px;
    top: 30px;
  }
}

/* Menu style */
.overlay ul {
  list-style: none;
  height: 100%;
  width: calc(100% - 200px);
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include media-breakpoint-up(md) {
    // padding-top: 30px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 30px;
    width: calc(100% - 100px); //menos el icono de cierre
  }
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0s 0.2s;
  transition: transform 0.2s ease-in-out, visibility 0s 0.2s;
  z-index: 1035;
}

.overlay-slidedown.open {
  visibility: visible;
  z-index: 1035;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}

#menu-menu-1 {
  li a {
    color: black;
    text-decoration: none;
    position: relative;
  }
}
//stylelint-disable
.current-menu-item a,
.current_page_item a {
  &::before,
  &::before,
  &::before {
    width: 100% !important;
  }
}

.banner {
  height: 75px;
  background-color: white;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.brand h1,
.brand {
  font-size: 1.875rem;
  margin-bottom: 3px;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem;
  }
}

.padd-head {
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wpml-lg {
  margin-left: auto;
}

.wpml-phone {
  margin-top: 150px;

  ul {
    flex-direction: column;
    align-items: start;
  }

  li a {
    line-height: 1.1;
  }
}

.wpml-ls-legacy-list-horizontal {
  margin-right: 80px;
  font-size: 1.75rem;
  line-height: 1.5;
  padding: 0;

  a {
    padding: 0 15px 0 0;
    line-height: 1.5;
  }
}
