body.home {
  h2 {
    font-weight: 400;
    font-size: 51px;
    line-height: 0.9;
    hyphens: auto;
    word-break: break-word;

    @include media-breakpoint-up(md) {
      font-size: 5vw;
    }

    @include media-breakpoint-up(xl) {
      font-size: 8vw; //9.625rem;
      line-height: 0.85;
    }
  }
}

#sb_instagram #sbi_images .sbi_item:nth-child(2) {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.sbi_photo {
  background-size: contain !important;
}

//talleres
.padd {
  padding: 50px 0;
}

.acordeon {
  line-height: 1;
  font-size: 27px;
  padding: 15px 0;

  @include media-breakpoint-up(lg) {
    line-height: 1.1;
    font-size: $t86;
  }
}

.desplegables {
  .desplegable:nth-child(3) {
    border-bottom: 1px solid black;
  }
}

//apoyo
.agradecimientos {
  h6 {
    font-size: 14px;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
      font-size: $f20;
    }
  }
}
