h1.entry-title {
  font-size: $t156;
  font-weight: 400;
}

.entry-content {
  h3 {
    font-size: 30px;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
      font-size: $t86;
    }
  }
}

//galeria
.lg-backdrop,
.lg-toolbar {
  background-color: white !important;
}

.lg-backdrop.in {
  opacity: 0.85;
}

.lg-toolbar {
  opacity: 1;
}

.lg-close.lg-icon {
  color: black;
  margin-top: 10px;
  margin-right: 20px;

  &::after {
    content: url("./svg/close-menu.svg");
  }
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: transparent;
  font-size: $f36;
}

.lg-next::before {
  content: "►" !important;
  color: black;
}

.lg-prev::after {
  content: "◄" !important;
  color: black;
}

//impresos
.label {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px 15px;
  background-color: white;
  border-radius: 3rem;
}
