body {
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  padding: 30px;
  color: black;
}

.f-20 {
  font-size: $f20;
}

.f-28 {
  font-size: $f28;
}

.f-small {
  font-size: $f36;
  line-height: 1.2;
}

.f-regular {
  font-size: $f46;
  line-height: 1.2;
}

.f-medium {
  font-size: $f52;
  line-height: 1.1;
}

.f-big {
  font-size: $t86;
  line-height: 1;
}

.t-bigger {
  font-size: $t156;
  line-height: 1;
}

.wrap {
  padding-top: 50px;
}

h4 {
  font-weight: 400;
}

