/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #000
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-gutter-width: 10px !default;

// tamaños de fuentes
$f20: 20px;
$f28: 1.25vw;//28px;
$f36: 1.89vw;//36px;
$f46: 1.89vw;//36px;
$f52: 2.7vw;//52px;
$t86: 4.5vw;//86px;
$t156: 8vw;//9.625rem;

$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$container-max-widths: (
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);
